<div class="card">
  <div class="card-body">
    <h5 class="card-title text-center">
      Cloudflare Worker
    </h5>
    <p class="card-text text-center mb-4">Cloudflare is used to proxy the requests to the server.</p>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">URL</span>
      <input type="text" class="form-control bg-white" id="basic-url"
             placeholder="https://BBBB.AAAA.workers.dev" [(ngModel)]="cloudflareUrl" [disabled]="!showEditFlag"/>
      <button class="btn btn-primary" type="button" mdbRipple rippleColor="primary" (click)="editCloudflareUrl()" *ngIf="!showEditFlag">
        Edit
      </button>
      <button class="btn btn-success" type="button" mdbRipple rippleColor="success" (click)="updateCloudflareUrl()" *ngIf="showEditFlag">
        Update
      </button>
    </div>
  </div>
  <mdb-accordion [flush]="true">
    <mdb-accordion-item>
      <ng-template mdbAccordionItemHeader>Setup Guide</ng-template>
      <ng-template mdbAccordionItemBody>
        TODO: Setup Guide
      </ng-template>
    </mdb-accordion-item>
  </mdb-accordion>
</div>
